.footer {
  position: relative;

  // .footer__row
  &__row {
    // justify-content: space-between; 
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
  }
}

.footer__img-mob {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url('../img/footer-img-mob.png');
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 1 25%;
  padding: 15px 20px 25px 23px;
  background: #FFFFFF;
  box-shadow: -3px 1px 10px rgba(165, 165, 165, 0.15);
}

.card__icon {
  // position: absolute;
  // top: -20px;
  // left: 22px;
  display: flex;
  min-height: 107px;
  margin-bottom: 10px;

  &::before {
    content: '';
    float: left;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.card__icon-01:before {
  flex: 0 0 170px;
  height: 97px;
  background-image: url('../img/icons/card-icon-01.svg');
}

.card__icon-02:before {
  flex: 0 0 95px;
  height: 95px;
  background-image: url('../img/icons/card-icon-02.svg');
}

.card__icon-03:before {
  flex: 0 0 159px;
  height: 107px;
  background-image: url('../img/icons/card-icon-03.svg');
}

.card__icon-04:before {
  flex: 0 0 159px;
  height: 107px;
  background-image: url('../img/icons/card-icon-04.svg');
}

.card__text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #333333;

  span {
    font-weight: 600;
  }
}