//<Адаптив>===========================================================================================================================================
@media (max-width: 1280px) {
	._container {
		padding: 0 10px;
	}
}

@media (max-width: 910px) {
	.footer__row {
		background: #fff;
		border-radius: 8px;
		overflow: hidden;
		flex-wrap: wrap;
	}

	.card {
		flex: 0 1 33%;
	}
}

@media (max-width: 800px) {
	.wrapper {
		background-image: none;
	}

	.page {
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url('../img/main-bg-mob.jpg');
		padding-top: 110px;
	}

	.page-single-03 {
		background-image: url('../img/bg/main-bg-mob-01.jpg');
	}

	.page-single-06 {
		background-image: url('../img/bg/main-bg-mob-02.jpg');
	}

	.page-single-04 {
		background-image: url('../img/bg/main-bg-mob-03.jpg');
	}

	.page-thanks {
		background-image: url('../img/bg/main-bg-mob-thanks.jpg');
	}

	.header {
		padding: 49px 0;
	}

	.header__logo {
		margin-top: 0;
		margin-right: 15px;
	}

	.header {
		position: absolute;
		width: 100%;
	}

	.header__contacts-phone {
		line-height: 1;
		margin-bottom: 15px;
	}

	.about {
		padding-top: 86px;
		padding-bottom: 761px;
	}

	.about ._container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.about__title {
		text-align: center;
		margin-bottom: 40px;
	}

	.about__subtitle {
		text-align: center;
	}

	.about__btn {
		margin-top: 40px;
	}

	.footer {
		padding-bottom: 103px;
		background: #f5f5f5;
		margin-top: 0;
	}

	.footer__img-mob {
		display: block;
		top: -12%;
	}

	.footer__row {
		background: #f5f5f5;
		justify-content: center;
		flex-wrap: wrap;
	}

	.card {
		flex: 0 1 315px;
		// padding: 54px 20px 25px 20px;
	}

	.footer__container {
		padding: 0 24px;
	}
}

@media (max-width: 700px) {
	.footer__img-mob {
		top: -8%;
	}
}

@media (max-width: 630px) {
	.card {
		flex: 0 1 48%;
	}
}

@media (max-width: 600px) {
	.header__logo {
		flex: 0 0 170px;
		height: 45px;
		margin-right: 0;
	}

	.header__contacts-phone {
		font-size: 30px;
	}
}

@media (max-width: 535px) {
	// .header__logo {
	// 	flex: 0 0 115px;
	// 	height: 31px;
	// 	margin-top: 8px;
	// }

	// .header__contacts-phone {
	// 	font-size: 16px;
	// 	line-height: 1;
	// 	padding: 14px 26.5px;
	// 	margin-bottom: 0;
	// }

	// .header__contacts-text {
	// 	font-size: 12px;
	// 	line-height: 2.5;
	// }
}

@media (max-width: 515px) {
	.popup__img {
		display: none;
	}

	.popup__form-block {
		flex: 0 1 100%;
	}

	.about {
		padding-top: 46px;
	}

	.about__title {
		font-size: 28px;
		line-height: 43px;
		margin-bottom: 20px;
	}

	.about__subtitle br,
	.about__title br {
		display: none;
	}

	.about__title span {
		font-size: 28px;
		line-height: 48px;
	}

	.about__subtitle {
		font-size: 14px;
		line-height: 25px;
	}

	.about__subtitle::before {
		top: 13px;
		left: 20px;
		width: 16px;
	}

	.about__btn {
		margin-top: 20px;
		font-size: 12px;
		line-height: 20px;
		padding: 26px 46px;
	}

	.card {
		flex: 0 1 315px;
	}

	.footer {
		padding-bottom: 49px;
	}

	.about__btn-thanks {
		min-height: 87px;
	}

	.card__text br {
		display: none;
	}
}

@media (max-width: 480px) {
	.header__logo {
		flex: 0 0 126px;
		height: 19px;
		// margin-top: 8px;
	}

	.header__contacts-phone {
		font-size: 20px;
		margin-bottom: 6px;
	}

	.header__contacts-text {
		font-size: 12px;
		padding-bottom: 1px;
	}

	.header__contacts-phone::before {
		width: 14px;
		height: 14px;
	}
}

@media (max-width: 460px) {
	.about__subtitle {
		padding-left: 15px;
	}

	.about__subtitle::before {
		left: 0px;
	}

	.about__subtitle-trait {
		margin-right: 5px;
		margin-left: -25px;
	}
}

@media (max-width: 414px) {
	.about__subtitle {
		padding-left: 0;
	}

	.about__subtitle::before {
		left: 5px;
	}

	.about__btn {
		padding: 17.5px 39px;
	}

	.about__btn::after {
		width: 37.2px;
		height: 37.2px;
	}

	.header {
		padding: 27px 0;
	}
}

@media (max-width: 375px) {
	.page {
		background-image: url('../img/main-bg-mob-515.jpg');
		padding-top: 110px;
	}

	.page-single-03 {
		background-image: url('../img/bg/main-bg-mob-515-01.jpg');
	}

	.page-single-06 {
		background-image: url('../img/bg/main-bg-mob-515-02.jpg');
	}

	.page-single-04 {
		background-image: url('../img/bg/main-bg-mob-515-03.jpg');
	}

	.page-thanks {
		background-image: url('../img/bg/main-bg-mob-515-thanks.jpg');
	}

	.about__btn {
		max-width: 295px;
		min-height: 75px;
	}

	.about__subtitle::before {
		left: -18px;
	}

	.about {
		padding-top: 25px;
	}

	.about {
		padding-bottom: 320px;
	}

	.about__title {
		font-size: 25px;
	}

	.footer__row {
		background: none;
		margin-top: -35px;
	}

	.header__contacts-phone {
		margin-bottom: 8px;
	}

	.footer {
		padding-bottom: 43px;
	}

	.card {
		border-radius: 8px;
	}

	.footer__img-mob {
		top: -9%;
	}
}

@media (max-width: 370px) {
	.header {
		padding: 10px 0;
	}

	.about ._container {
		padding: 0 10px;
	}

	.about__subtitle::before {
		left: -5px;
	}
}

@media (max-width: 360px) {
	.header__logo {
		flex: 0 0 100px;
		height: 23px;
	}

	.header__contacts-phone {
		font-size: 15px;
		margin-bottom: 13px;
	}

	.header__contacts-text {
		font-size: 10px;
	}

	.about__btn {
		padding: 23px 35px;
	}

	.about__subtitle::before {
		display: none;
	}
}

@media (max-width: 340px) {
	.about__subtitle-trait {
		display: none;
	}
}