@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
// @import "fonts";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-regular.eot');
	src: local('☺'), url('../fonts/gilroy-regular.woff') format('woff'), url('../fonts/gilroy-regular.ttf') format('truetype'), url('../fonts/gilroy-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-semibold.eot');
	src: local('☺'), url('../fonts/gilroy-semibold.woff') format('woff'), url('../fonts/gilroy-semibold.ttf') format('truetype'), url('../fonts/gilroy-semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Gilroy", sans-serif;
$fontSize: 16;
$fontWeight: 400;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>======================================================================================================= 

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1263;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	font-weight: $fontWeight;
	color: $mainColor;
	// background: #333;

	a {
		font-family: 'Gilroy', sans-serif;
		// color: #1a1818;
	}

	&._lock {
		overflow: hidden;
		touch-action: none;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ЗАГОЛОВКИ>=================================================================================================================
// h1 {
// 	font-size: 35px;
// 	font-weight: 500;
// 	line-height: 52.8 / 40 *100%;
// 	line-height: 38px;
// }

// h2 {
// 	font-size: 32px;
// 	font-weight: 500;
// 	line-height: 38px;
// }

// h3 {
// 	font-size: 28px;
// 	font-weight: 500;
// 	line-height: 38px;
// }

// h4 {
// 	font-size: 25px;
// 	font-weight: 500;
// 	line-height: 38px;
// }

// .title {
// 	text-align: center;
// 	color: #222222;
// 	margin-bottom: 38px;
// }

// @media (max-width: 768px) {
// 	h1 {
// 		font-size: 26px;
// 	}

// 	h2 {
// 		font-size: 24px;
// 	}
// }

//<ЗАГОЛОВКИ>=================================================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url('../img/main-bg.jpg');

	// min-height: 200vh;
	// position: relative;
	&._loaded {}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

.wrapper-single-03 {
	background-image: url('../img/bg/main-bg-01.jpg');
}

.wrapper-single-04 {
	background-image: url('../img/bg/main-bg-03.jpg');
}

.wrapper-single-06 {
	background-image: url('../img/bg/main-bg-02.jpg');
}

.wrapper-thanks {
	background-image: url('../img/bg/main-bg-thanks.jpg');
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	// @media (max-width: $md1 + px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2+px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox";
@import "datepicker";
@import "lightgallery";
//@import "popover.min";
//@import "baguetteBox";
// @import "fancybox.min";
//@import "pagging";
// @import "map";
// @import "slider-index";
// @import "catalog";
// @import "collection";
@import "tippy";
@import "nouislider";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	// padding: 35px 0; 
	padding-top: 50px;
}

//===================================================================================================================================

.about {
	padding: 0px 0 110px 0;
}

.about__title {
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	font-size: 45px;
	line-height: 78px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #333333;
	margin-bottom: 32px;

	span {
		font-weight: 600;
		font-size: 54px;
		color: #3A862E;
	}
}

.about__subtitle {
	position: relative;
	font-family: 'Gilroy', sans-serif;
	font-weight: 300;
	font-size: 21px;
	line-height: 35px;
	letter-spacing: 0.03em;
	color: #333333;
	padding-left: 60px;

	span {
		font-weight: 400;
	}

	&::before {
		content: "";
		float: left;
		width: 35px;
		height: 9px;
		margin-top: 13px;
		margin-left: -49px;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 100%;
		background-image: url('../img/icons/circles.svg');
	}
}

.about__subtitle-trait {
	color: #CFAB78;
	margin-right: 12px;
	margin-left: -40px;
}

.about__btn {
	max-width: 422px;
	width: 100%;
	min-height: 108px;
	margin-top: 38px;
	box-shadow: 0px 7px 0px -1px #2F6F24;
}

.about__btn-thanks {
	max-width: 450px;
	width: 100%;
	min-height: 122px;
}

.about__btn-thanks::after {
	display: none;
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<Адаптив>===========================================================================================================================================
@import "media";